.dblclick-expansion-image {
  display: block !important;
  background-color: white;
  top: 0px !important;
  margin-top: 0px !important;
  width: 100% !important;
  height: 100% !important;
  .header {
    display: none !important;
  }
  .modal-content {
    max-width: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
    height: 100% !important;

    .dialog-frame {
      max-height: 100% !important;
      height: 100% !important;
    }
  }
  .content {
    padding: 0px !important;
    background: rgba(0, 0, 0, 0.87) !important;
    text-align: center;
    img {
      display: inline;
      margin: 0 auto;
    }
  }
  .actions {
    display: none !important;
  }
}
